:root {
    --main-bg : #272727;
    --card-bg : #3F3F3F;
    --text-color : #B9B9B9;
    --hover-color: #E0E0E0;
}
@font-face {
    font-family: meow;
    src: url(../fonts/MeowScript-Regular.ttf);
}
@font-face {
    font-family: BungeeShade;
    src: url(../fonts/BungeeShade-Regular.ttf);
}
@font-face {
    font-family: notoBold;
    src: url(../fonts/NotoSansDisplay_Condensed-Bold.ttf);
}
@font-face {
    font-family: notoBlack;
    src: url(../fonts/NotoSansDisplay_Condensed-Black.ttf);
}
@font-face {
    font-family: notoLight;
    src: url(../fonts/NotoSansDisplay_Condensed-Light.ttf);
}
body {
    background-color: var(--main-bg);
    max-height: 100vh;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.social-media{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--card-bg);
    padding: 0.5rem;
    border-radius: 30px;
}
.social-media i {
    display: block;
    width: 30px;
    height: auto;
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.15s ease-in;
}
.social-media i:hover{
    color: var(--hover-color);
    transform: scale(1.2);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: var(--text-color);
    font-size: 3rem;
    margin: 1rem;
    font-family: BungeeShade;
}
.habit-title{
    font-size: 1.9rem;
    color: var(--text-color);
    margin: 1rem 0;
    font-family: notoBold;
    text-transform: capitalize;
    word-spacing: 7px;
}
.input-container{
    background-color: var(--card-bg);
    padding: 11px;
    border-radius: 30px;
}
.input-container i {
    margin-right: 5px;
    width: 20px;
    height: auto;
    cursor: pointer;
    font-size: 1rem;

}
#input{
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--text-color);
}
.todos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
.todo{
    list-style-type: none;
    background-color: var(--card-bg);
    padding: 0.4rem 0.3rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14rem;

}
.todo label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#todo-chechbox {
    appearance: none;
    background-color: var(--main-bg) ;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;

}
#todo-chechbox:checked {
    
}
#todo-chechbox:checked::after{
    content: "✔" ;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 4px;
    top: 2px;
}
.todo-text{
    color: var(--text-color);
    font-family: notoBold ;
    font-weight: 200;
    font-size: 1.1rem;
}
.done {
    text-decoration: line-through;
    color: #777;
}
.footer{

}